menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.botones {
    display: flex;
    gap: 20px;
    margin-top: 1rem;
}